.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

.mt-15 {
  margin-top: 15px;
}

.mr-5 {
  margin-right: 5px;
}

.ml-5 {
  margin-left: 5px;
}

.pr-5 {
  padding-right: 5px;
}

.dropdown-menu .fa:before {
  padding-right: 10px;
}

.text-right {
  float: right;
  cursor: pointer;
}

.text-right:hover {
  color: red;
}

.sort_selected::after {
  content: '\f00c';
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  margin: 0px 0px 0px 10px;
  display: inline-block;
}